html,body{
    margin: 0;
    padding: 0;
    font-size: 100%;
    border:none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}

#imagemfundo{
    background:url(pexels-mamunurpics-3930012.jpg);
    padding: 230px;
    background-size: cover;
    text-align: center;
}
#titulo{
    color:#475F68;
    font-size: 40px;
    padding-top: 0;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
}
#subtitulo{
    color:#475F68;
    font-size: 25px;
    padding-top: 0;
    font-family: 'Courier New', Courier, monospace;

}
#justificado{
    text-align: justify;
}
#ação{
    color:#0F2225;
    border: 2px#917C72;
    padding: 20px;
    text-decoration:none ;
}
#ação:hover{
    background-color:#0F2225;
    color: #917C72;
}
#header1{
    background-color: #475F68;
    height: 50px;
}
#menu{
    float: right;
    margin-top: -62px;
    margin-right: 10px;
}
li{
    float: left;
    padding: 10px 7px 10px 7px;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    color: #E37F53;
    font-size: 17px;
}
img{
    height: 50px;
    
}
.menuprincipal{
    width: 100%; 
    float: left;
    padding: 3% 4%;
}
section{
    clear: both;
    padding: 5%;
}
.coluna{
    float: left;
    padding: 0 5;
    position:relative;
    width: 15%;
    
}
.colunas{
    text-align: justify;
}
hr{
    width: 8rem;
    margin-bottom: 2%;
    text-align: center;
}
.parte1{
    border-left: 2vw #E37F53 solid;
    border-right: 2vw #E37F53 solid;
    background-color: white;
}
.parte2{
    border-left: 2vw #475F68 solid;
    border-right: 2vw  #475F68 solid;
    background-color:#F4F1EF ;
}
.parte3{
    border-left: 2vw#917C72 solid;
    border-right: 2vw #917C72 solid;
    background-color: white;
}
.parte4{
    border-left: 2vw #E37F53 solid;
    border-right: 2vw#E37F53 solid;
    background-color: #F4F1EF;
}
.parte5{
    border-left: 2vw #917C72 solid;
    border-right: 2vw #917C72 solid;
    background-color: white;
}
#centralizar{
    text-align: center;
}
#rodapé{
    background-color: #475F68;
    height: 25%;
    padding: 20px;
}
@media screen and (max-width: 800px){
    li{
        visibility: hidden;
    }
    .coluna, .colunas{
        display:block;
        width: 80%;
        padding: 0;
        margin: 10px auto;
        
    }
    
}
